body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.hero {
  display: flex;
  margin: auto;
  margin: 230px 50px;
}

.hero-r {
  margin: auto;
  color: white;
  width: 50%;
}
.principal h1 {
  width: 400px;
  font-size: 45px;
}
.subscribete {
  text-align: center;
  width: 50%;
}
.sub-title p {
  background: hsl(248, 32%, 49%);
  width: 500px;
  color: white;
  padding: 10px 0;
  box-shadow: 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.sub-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  max-width: 500px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.3);
}
.subscribete input {
  width: 400px;
  margin: 10px 0;
  padding: 15px;
}
.ancla {
  margin-top: 30px;
}
.sub-container a {
  background-color: hsl(154, 59%, 51%);
  padding: 15px;
  max-width: 400px;
  padding: 10 125px;
  color: white;
  font-weight: 800;
  text-decoration: none;
  border-radius: 5px;
}
.subscribete h6 {
  color: gainsboro;
}
.subscribete h6 strong {
  color: hsl(0, 100%, 74%);
}
@media screen and (max-width: 375px) {
  body {
    margin: 0;
  }
  .hero {
    display: block;
    margin: initial;
  }
  .hero-r {
    width: initial;
    margin-bottom: 50px;
  }
  .principal {
    text-align: center;
    margin-top: 70px;
  }
  .principal h1 {
    font-size: 30px;
    margin: auto auto 20px;
    display: block;
    width: 300px;
  }
  .principal p {
    width: 320;
    margin: auto;
  }
  .subscribete {
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
  }
  .sub-title {
    width: initial;
    margin-bottom: 0;
  }
  .sub-title p {
    width: 200px;
    text-align: center;
    padding: 10px 70px;
    margin: auto auto 20px;
  }
  .subscribete input {
    width: 300px;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }
  .sub-container a {
    padding: 10px 70px;
  }
  .subscribete h6 {
    width: 250px;
    margin: 20px auto;
  }
}
